*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea/gradle.xml
.idea/misc.xml
app/build/*
.idea/shelf/Uncommitted_changes_before_Checkout_at_15_10_2022,_11_28_\[Changes\]/shelved.patch
.idea/shelf/Uncommitted_changes_before_Checkout_at_15_10_2022__11_28__Changes_.xml
